    @model IEnumerable<AppDev.Models.Book>

@{
    ViewData["Title"] = "Index";
}

<h1>List of books</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Create new book</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Authors)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @foreach(var auth in item.Authors){
                <nobr>| </nobr>
                @Html.DisplayFor(modelItem => auth.Name)
                <nobr> |</nobr>
                }
            </td>
            <td>
                <a asp-action="Edit" class="btn btn-primary"asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" class= "btn btn-primary" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" class= "btn btn-danger" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
